<div class="ui form">
  <div class=" container-fluid">
    <div class="well">
      <div class="ui item">
        <h1 align="center">Replies</h1>
        <table class="table hp-table table-splited">
          <thead>
            <tr>
              <th>Reply</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @replies.each do |r| %>
            <tr>
              <td><%= r.content %></td>
                <td>
                  <%= link_to "Show", reply_path(r.id), class: "btn btn-primary btn-s" %>
                  <%= link_to "Edit", edit_reply_path(r.id), class: "btn btn-success btn-s" %>
                  <%= link_to "Delete", reply_path(r.id), data: { :confirm => "Are you sure?"}, :method => :delete, class: "btn btn-danger btn-s" %>
                </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


