<div class="ui form">
	<table class="table hp-table table-splited">
		<thead>
			<tr>
				<th>Date Posted</th>
				<th>Comment</th>
			</tr> 
		</thead>
		<tbody>
			<tr>
				<td><%= @comment.date_posted %></td>
				<td><%= @comment.content %></td>
			</tr>
		</tbody>
  </table>
</div>		