<%= simple_form_for @category do |f|%>
	<form>
		<div class="form-group">
			<%= f.input :name %>
		</div>
		<div class="form-group">

		</div>
		<button class="btn btn-success">SAVE</button>
	</form>
<% end %>